.navbar {
background-color: #f4f4f4;
}


.navbar .navbar-brand {
color: #000000;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
color: #0bdfe8;
}

.navbar .navbar-nav .nav-link {
color: #000000;
border-radius: .25rem;
margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
color: #0bdfe8;
}

.navbar .navbar-toggler {
border-color: #e0e8e8;
}

.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:focus {
background-color: #e0e8e8;
}

.navbar .navbar-toggler .navbar-toggler-icon {
color: #000000;
}

.navbar .navbar-form {
border-color: #000000;
}
.navbar .navbar-link {
color: #000000;
}
.navbar .navbar-link:hover {
color: #0bdfe8;
}

@media (max-width: 575px) {
.navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #000000;
}
.navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #0bdfe8;
}
.navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #0bdfe8;
    background-color: #e0e8e8;
}
}
