{% extends 'base.html' %}
<br>
<br>
{% block contenido %}
    <br>
    <!-- Formulario de Registro -->
    <div class="grid-container"> 
        <div class="grid-x align-center"> 
            <div class="row">
                <div class="large-5 large-offset-3">
                    <div class="form-icons">
                        <div class="text-center">
                            <h4>Mi perfil</h4>
                            <div class="callout text-center">
                                <form method = "POST">
                                    {% csrf_token %}
                                    {{ form }}
                                    <button class="button expanded">Guardar</button>
                                </form>   
                            </div>  
                        </div> 
                    </div>
                </div>    
            </div>        
        </div>
    </div>
    <!-- Formulario de Registro -->
    
{% endblock %}
 