{% load static %}
<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>BioERD | Bienvenid@</title>
		<link rel="shortcut icon" href="{% static 'iconos/icon.png' %}">
		<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/card.css' %}">
	</head>
  
  	<body>
	
    <!-- Barra de Navegacion -->
	<div class="top-bar" id="realEstateMenu">
		<div class="top-bar-left">
			<ul class="vertical medium-horizontal menu" data-responsive-menu="accordion" >
				<li class="menu-text">BioERD</li>
				{% if user.is_authenticated %}
					<li><a href="{% url 'home' %}"><i class = "fi-home"></i> Home</a></li>
					<li><a href="{% url 'documentos' %}"><i class = "fi-folder"></i> Documentos</a></li>
					<li><a href="{% url 'edicion_diagrama' %}"><i class = "fi-pencil"></i> Nuevo Diagrama</a></li>
				{% else %}
					<li><a href="{% url 'home' %}"><i class = "fi-home"></i> Home</a></li>

				{% endif %}
				
			</ul>
		</div>
		<div class="top-bar-right">
			<ul class="vertical medium-horizontal menu">
				<!-- Datos de la sesion -->
				{% if user.is_authenticated %}
					<li><a href="{% url 'perfil' %}"> Bienvenid@ {{ user.username }} <i class = "fi-torso"></i></a></li>
					<li><a class="button" href="{% url 'logout' %}"> Cerrar Sesión</a></li>
				{% else %}
					<li><a href="{% url 'registro' %}">Registrate</a></li>
					<li><a href="{% url 'login' %}">Iniciar sesión</a></li>
				{% endif %}
				<!-- Datos de la sesion -->
			</ul>
		</div>
	</div>
	<!-- Barra de Navegacion -->

	<!-- Contenido -->
    <div id="contenido">
        {% block contenido %}
        {% endblock %}
    </div>
	<!-- Contenido -->

	<br>
	<br>

	<!-- Pie de página -->
    <footer class="row">
		<div class="large-12 columns">
			<hr>
			<div class="row">
				<div class="large-6 columns">
					<p>© Copyright BioERD 2021</p>
				</div>
				<div class="large-6 columns right">
                    <a href="https://icb.utalca.cl/">Ingeniería Civil en Bioinformática</a>
                    <a> | </a>
                    <a href="https://www.utalca.cl/">Universiadad de Talca</a>
				</div>
			</div>
		</div>
	</footer>
	<!-- Pie de página -->

	<script src="{% static 'js/vendor/jquery.js' %}"></script>
	<script src="{% static 'js/vendor/foundation.js' %} "></script>
	<script src="{% static 'js/programa_principal.js' %}"></script>

	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	{% if messages %}
		{% for m in messages %}
			<script>
	         Swal.fire({ 
	            title: '¡Error!',
	            text: "{{m}}",
	            icon: 'success',
	        })
		</script>
		{% endfor %}
	{% endif %}
	
  	</body>
</html>