{% load static %}

<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>BioERD | Bienvenid@</title>
	<!--Icono-->
	<link rel="shortcut icon" href="{% static 'iconos/icon.png' %}">
	<!--Estilos-->
	<link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
	<link rel="stylesheet" href="{% static 'css/foundation2.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/joint.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">   

</head>

<body>

	<!-- Barra de Navegacion -->

	<span id="data" style="display: none">{{ datos }}</span>
	
	<!--<div id="datos"></div>-->

	<div class="top-bar">
		<div class="row">
			<div class="top-bar-left">
				<ul class="dropdown menu" data-dropdown-menu>
					<li class="menu-text">BioERD</li>
					<li><a> {{ user.username }} <i class = "fi-torso"></i></a></li>	
					<li><a href="{% url 'home' %}"><i class = "fi-home"></i> Volver</a></li>
					<li class="has-submenu">			
						<li><a data-toggle="guardar_diagrama_modal" id="guardar">Guardar</a></li>
						<li><a id="exportar_img">Exportar Imagen</a></li>
						<li><a id="exportar_sql">Exportar SQL</a></li>											
					</li>
					<div class="button-group align-center " >
						<buton class="hollow button" id="tabla"> Tabla </buton> <!--Boton añadir una entidad-->
					</div>	
				</ul>
			</div>
		</div>
	</div>

	<!-- Fin Navbar -->

	<!-- zona dibujo -->

    <div  class="col-sm-12">
        <div  class="border border-ligh" id="zona_edicion" style="height:100%;width:100%;"></div>
        <canvas id="idcanvas" style="display: none"></canvas>
    </div>

	<!-- Librerias -->

	<script src="{% static 'js/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'js/foundation.min.js' %}"></script>
	<script src="{% static 'js/sweetalert2/sweetalert2.min.js' %}"></script>
	<script src="{% static 'js/lodash/lodash.js' %}"></script>
	<script src="{% static 'js/backbone/backbone.js' %}"></script>
	<script src="{% static 'js/joint.js' %}"></script>
	<script src="{% static 'js/convertir.js' %}"></script> 

	<!--Función para el modal-->
	<script>
		$(document).ready(function() {
			$(document).foundation();
		})
	</script>

</body>

</html>