{% extends 'base.html' %}
{% load static %}
{% block contenido %}
	<br>
	<!-- Contenido -->
    <div class="row medium-8 large-7 columns">
		<div class="blog-post">
			<h3> Diagramas Relación/Entidad </h3>
			<p>BioERD es un programa que te permite realizar el diseño de diagramas de entidad-relación. A continuación puedes observar el funcionamiento básico del programa:</p>
			<div class="callout">
				<ul class="menu simple">
					<h5>¿Cómo añado elementos al diagrama?</h5>
                    <p>Para añadir un elemento debes hacer click en cualquier figura y esta aparecerá instantáneamente en la zona de diseño:</p>
                    <center><img src="{% static 'iconos/elementos.gif' %}" width="550" height="280"></center>
				</ul>
			</div>
			<div class="callout">
				<ul class="menu simple">
                    <h5>¿Cómo nombro un elemento?</h5>
                    <p>Al añadir un elemento, inmediatamente verás una ventana para ingresar el nombre.</p>
                    <h5>¿Cómo edito un elemento?</h5>
                    <p>Para editar un elemento debes hacer doble click y verás una ventana con opciones:</p>
                    <center><img src="{% static 'iconos/ventana_editar.gif' %}" width="450" height="200"></center>
                    <p>Verás la opción editar, que permitirá que cambies el nombre del elemento, podrás añadir un atributo conectado directamente a ese elemento y finalmente cerrar la ventana.</p>
                    <p>Las opciones al hacer click son diferentes para cada elemento, por ejemplo, para el elemento "Atributo" al hacer doble click observarás una ventana con tres opciones y entre ellas puedes editar el nombre, las propiedades o cerrar la ventana:</p>
                    <center><img src="{% static 'iconos/propiedad_atributo.gif' %}" width="450" height="250"></center>
                </ul>
			</div>
			<div class="callout">
				<ul class="menu simple">
                    <h5>¿Cómo puedo enlazar elementos?</h5>
                    <p>Para enlazar un elemento con otro, solo debes dejar caer el elemento que quieres conectar sobre el otro elemento:</p>
                    <center><img src="{% static 'iconos/enlazar_elementos.gif' %}" width="400" height="200"></center>
				</ul>
			</div>
			<div class="callout">
				<ul class="menu simple">
                    <h5>¿Cómo agrego cardinalidad a mis relaciones?</h5>
                    <p>Para seleccionar la cardinalidad entre elementos, debes hacer doble click en el enlace y observarás una ventana que te permitirá seleccionar la cardinalidad:</p>
                    <center><img src="{% static 'iconos/cardinalidad.gif' %}" width="450" height="180"></center>
                </ul>
			</div>
			<div class="callout">
				<ul class="menu simple">
                    <h5>¿Cómo elimino un elemento o todo el contenido?</h5>
                    <p>Para eliminar un elemento debes hacer un click, éste resaltará y luego debes hacer click en "ELiminar Elemento". Si deseas limpiar toda la zona de edición solo debes hacer click en "Eliminar Todo"</p>
                    <center><img src="{% static 'iconos/botones_eliminar.gif' %}" width="650" height="450"></center>
                </ul>
			</div>
			<div class="callout">
				<ul class="menu simple">
                    <h5>Menú de opciones</h5>
                    <p>Nuestro programa ofrece la opción de guardar directamente el archivo en la base de datos, donde encontrarás en tu home personal la carpeta documentos que contendrá cada uno de los diagramas guardados.</p>
					<p>Además puedes descargar directamente una imagen del diagrama creado.</p>
                    <center><img src="{% static 'iconos/menu.gif' %}" width="380" height="400"></center>
                </ul>
			</div>
		</div>

	</div>
	 
	<!-- Contenido -->

{% endblock %}
